
*{
    margin: 0%;
    padding: 0%;
   font-family: 'Courier New', Courier, monospace;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 211, 154);
    padding:20px;
    box-shadow: 3px 3px 3px 3px rgb(9, 101, 83);
    text-decoration-line: none;
 
}
nav ul li{
    list-style: none;
    display: inline-block;
}
 ul li a{
    margin-right: 10px;
    font-size: 22px;

}
ul i{
    font-size: 20px;
}
ul{
    margin-right: 45px;
    margin-top: 7p;
}
nav .logo{
    margin-left: 20px;
}
body{
    background-color: rgb(170, 187, 249);

}
ul li a:hover{
    cursor: pointer;
}
.trend .head h1{
    text-align: center;
    padding: 33px;
    margin-top: 22px;
    color: rgb(12, 76, 225);
    text-decoration: underline;
  
}
.card{
    display: flex;
    justify-content:space-around;
}
.card .crd{
    width: 300px;
    height:500px;
    background-color:wheat;
    margin-inline: 8px;
    padding: 30px;
    border-radius: 10px;
  
}
.crd img{
    width: 100%;
   border-radius: 20px;
   height: 400px;
}
.trends h1{
    text-align: center;
    padding: 33px;
    margin-top: 22px;
    color: rgb(12, 76, 225);
    text-decoration: underline;
  
}
.crd button{
    width: 110px;
    height: 33px;
    border: none;
    background-color: rgb(37, 204, 204);
    color: white;
    font-size: 15px;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 33px;
    background-color: blue;
    box-shadow: 3px 3px 3px 3px rgb(12, 76, 225);
}
.footer .footertext{
    margin-inline: 55px;
   color: white;
}
